@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* { font-family: 'Poppins', sans-serif; margin: 0; padding: 0; box-sizing: border-box; scroll-padding-top: 2rem; list-style: none; text-decoration: none; scroll-behavior: smooth; }
:root {
    --main-color: #FF7C03;
    --main-light-color: #FF8B1F;
    --container-color: #F8F7FC;
    --text-color: #1A1D22;
    --bg-color: #FFFFFF;
}

html::-webkit-scrollbar { width: 0.5rem; background: var(--main-color); }
html::-webkit-scrollbar-thumb { border-radius: 2rem; background: var(--text-color); }
img { width: 100%; }
body { color: var(--text-color); }
section { padding: 4.5rem 0 3rem; }
.container { max-width: 938px; margin-left: auto; margin-right: auto; }
header { display: block; width: 100%; position: fixed; top: 0; left: 0; z-index: 100; background-color: #F8F7FC;}
    header.shadow { background: var(--bg-color); box-shadow: 2px 2px 4px rgb(15 54 55 / 10%); transition: 0.5s; }
.nav { display: flex; align-items: center; justify-content: space-between; padding: 20px 0; gap: 230px; }
.logo img { width: 70px; }
.navbar { display: flex; column-gap: 2rem; }
    .navbar a { position: relative; color: var(--text-color); font-size: 1rem; font-weight: 500; transition: 0.5s; }
        .navbar a:hover, .navbar .active { color: var(--main-color); }
.nav-icons { display: flex; column-gap: 1rem; }
    .nav-icons .bx { font-size: 24px; color: var(--text-color); cursor: pointer; transition: 0.5s; }
        .nav-icons .bx:hover { color: var(--main-color); }
#menu-icon { display: none; }
.cart { position: relative; }
    .cart span { position: absolute; display: flex; align-items: center; justify-content: center; top: -10px; right: -8px; font-size: 0.6rem; height: 15px; width: 15px; background: var(--main-color); border-radius: 50%; padding: 4px; color: var(--bg-color); }
.heading { text-align: center; margin-bottom: 2rem; }
    .heading span { border-bottom: 3px solid var(--main-color); }

/*Home*/

.home { max-width: 1300px; margin: auto; min-height: 640px; display: flex; align-items: center; background: var(--container-color); }
.home-container { display: grid; grid-template-columns: repeat(2, 1fr); align-items: center; gap: 1.5rem; }
.home-text h1 { font-size: 2.4rem; }
.home-text p { font-size: 0.938rem; margin: 0.5rem 0 1.4rem; }
.btn { padding: 13px 26px; background: var(--main-color); color: var(--bg-color); font-weight: 400; border-radius: 0.4rem; transition: 0.5s; }
    .btn:hover { background: var(--main-light-color); }
.hero-senction{height: 400px;}
/*Featured*/

.featured-container { display: grid; grid-template-columns: repeat(auto-fit, minmax(17rem, auto)); gap: 1.5rem; }
    .featured-container .box { display: flex; align-items: center; justify-content: space-around; padding: 15px; background: var(--container-color); border-radius: 0.5rem; overflow: hidden; box-shadow: 1px 2px 4px rgb(15 54 55 / 10%); }
        .featured-container .box img { width: 180px; object-fit: contain; object-position: center; }
            .featured-container .box img:hover { transform: scale(1.1); transition: 0.5s; }
        .featured-container .box .text h2 { font-size: 1.2rem; margin-bottom: 1rem; }
        .featured-container .box .text a { font-size: 0.9rem; color: var(--text-color); transition: 0.5s; }
            .featured-container .box .text a:hover { color: var(--main-color); }

/*Shop*/

.shop-container { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, auto)); gap: 2rem; }
    .shop-container .box { position: relative; padding: 10px; border-radius: 1rem; box-shadow: 1px 2px 4px rgb(15 54 55 / 10%); }
        .shop-container .box img { width: 100%; height: 250px; object-fit: contain; object-position: center; background: var(--container-color); border-radius: 0.5rem; }
        .shop-container .box h2 { font-size: 1rem; margin-bottom: 0.5rem; }
        .shop-container .box span { font-size: 1rem; font-weight: 500; color: var(--main-color); }
        .shop-container .box .bx { position: absolute; bottom: 1rem; right: 0.8rem; padding: 5px; font-size: 20px; background: var(--main-color); color: var(--bg-color); border-radius: 0.5rem; transition: 0.5s; }
            .shop-container .box .bx:hover { background: var(--main-light-color); }
            

/*Newsletter*/

.newsletter { display: grid; justify-items: center; }
    .newsletter form { margin-top: 2rem; display: flex; background: var(--container-color); padding: 10px; border-radius: 0.5rem; }
        .newsletter form .email-box { width: 250px; }
        .newsletter form input { border: none; outline: none; background: none; color: var(--text-color); font-size: 1rem; }
        .newsletter form .btn { background: var(--main-color); color: var(--bg-color); font-weight: 500; text-transform: uppercase; transition: 0.5s; cursor: pointer; }
            .newsletter form .btn:hover { background: var(--main-light-color); }

/*Footer*/

.footer { display: flex; justify-content: space-between; gap: 1rem; }
    .footer .logo { margin-bottom: 1rem; }
.footer-box { display: flex; flex-direction: column; }
    .footer-box h3 { font-size: 1.1rem; font-weight: 500; margin-bottom: 1rem; }
    .footer-box a, .footer-box p { color: var(--text-color); margin-bottom: 10px; }
        .footer-box a:hover { color: var(--main-light-color); }
.social { display: flex; align-items: center; }
    .social a { font-size: 24px; margin-right: 1rem; color: var(--text-color); }
        .social a:hover { transform: translateY(-4px); transition: 0.5s; }
.copyright { padding: 25px; text-align: center; }
    .copyright a { font-family: 'poppins', sans-serif; color: var(--text-color); transition: 0.5s; }
        .copyright a:hover { color: var(--main-color); }


.signup{color:#ffffff;background-color:#39780f;width: 70px;height: 25px;text-align: center;border-radius: 5px;
    transition: all 0.5s ease ;font-size: 15px;}
.signup:hover   { scale:1.1;}

/*Media Queries*/

@media (max-width: 1080px) {
    .container { margin-left: 1rem; margin-right: 1rem; }
}

@media (max-width: 991px) {
    .nav { padding: 15px 20px; }
    section { padding: 3rem 0 1rem; }
    .home-text h1 { font-size: 2.1rem; }
}

@media (max-width: 768px) {
    .nav { padding: 10px 0; }
    #menu-icon { display: initial; }
    .navbar { position: absolute; top: 100%; right: -100%; width: 250px; height: 100vh; display: flex; flex-direction: column; background: var(--bg-color); row-gap: 0.5rem; text-align: left; box-shadow: 2px 2px 15px rgb(15 54 55 / 15%); transition: 0.5s; }
        .navbar a { display: block; padding: 15px; }
        .navbar.active { right: 0; }
    .home-text h1 { font-size: 2rem; }
    .heading h2 { font-size: 1.4rem; }
    .shop-container { grid-template-columns: repeat(auto-fit, minmax(220px, auto)); }
}

@media (max-width: 672px) {
    .home-container { grid-template-columns: 1fr; }
    .home-text { order: 2; }
    .footer { display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, auto)); }
    .newsletter form .email-box { width: 180px; }
    .newsletter form .btn { padding: 9px 10px; }
}

@media (max-width: 495px) {
    .footer { justify-content: center; align-items: center; }
    .footer-box { text-align: center; }
        .footer-box .social { justify-content: center; align-items: center; }
}

@media (max-width: 360px) {
    .logo img { width: 54px; }
    .nav-icons .bx { font-size: 20px; }
    .home-text p br { display: contents; }
    .heading h2 { font-size: 1.2rem; }
    .featured-container .box img { width: 135px; }
    .newsletter form .email-box { width: 140px; font-size: 0.9rem; }
}